# database files:
db
*.db
db_install/db
add_deviceid_script/db

# virtual environment:
.venv
env
venv
.env

# scala
target
*.log
*.class

# intellij project
*.iml
*.ipr
*.iws
.idea
out

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Maven
log/
target/